.wrapper {
  width: 53%;
}

.title, .desc {
  margin: 0;
  padding: 0;
  color: var(--white);
}

.title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 45px;
}

.desc {
  line-height: 1.5;
  color: var(--gray_light);
  opacity: 0.8;
}
.svg {
  display: none;
  position: absolute;
  right: 27px;
  top: -10px;
  cursor: pointer;
}

@media (max-width: 768px) {
 .svg {
  display: block;
 }
}
